<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Static</title>

    <!-- Internal libraries -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- External libraries -->
    <!-- Note: File below is Tilwind's playground CDN -->
    <script src="~/lib/Tailwind/tailwind.js" asp-append-version="true"></script>
    <script src="~/lib/Normalize/normalize.js" asp-append-version="true"></script>

    <!-- Boilerplates -->
    <script src="~/boilerplate/boilerplate-main.css" asp-append-version="true"></script>

</head>
<body>


    <div class="wrapper-container">
        <header>
            Header
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer>
            <div>
                Footer
            </div>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
