@using Static.Utilities
﻿@using System.Reflection

@model ITableViewModel<IEntity>

@{
    var entityProperties = ReflectionUtil.GetInterfacedObjectProperties(Model.EntitySignture.GetType());
    var entities = Model.GetEntities();
}

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                @foreach (PropertyInfo property in entityProperties)
                {
                    <th scope="col" class="px-6 py-3">
                        @property.Name
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in entities)
            {
                <tr class="bg-white">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Magic Mouse 2
                    </th>
                    <td class="px-6 py-4">
                        Black
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>